In [88]:
import pandas as pd
import numpy as np  
pd.set_option('display.max_rows', None)

In [89]:
IMDb_cldata = pd.read_csv('../Intermediate_data/IMDb_cldata.csv', index_col= 0)

In [90]:
user_clusters = pd.read_csv('../Intermediate_data/user_clusters.csv', index_col = 0)

In [91]:
train_subset  = pd.read_csv('../Intermediate_data/train_subset.csv', index_col= 0)

In [92]:
movies_filtered = pd.read_csv('../Intermediate_data/filtered_movies_genre.csv',index_col= 0)

In [93]:
user_clusters.head()

   cluster  userId
0        3  100032
1        3  100036
2        3  100053
3        3  100057
4        3  100058

In [94]:
user_clusters.shape

(19203, 2)

In [95]:
IMDb_cldata.head()

,plot,rating,runtimes,votes,year,imdbId,country codes_us,country codes_gb,country codes_fr,country codes_it,...,language codes_ru,language codes_cmn,language codes_hi,language codes_sv,certificates_G,certificates_NR,certificates_PG,certificates_R,kind_movie,kind_series
0,"[u""A cowboy doll is profoundly threatened and ...",8.3,81,837115.0,1995.0,114709,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,[u'When two kids find and play a magical board...,7.0,104,287007.0,1995.0,113497,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,"[u""John and Max resolve to save their beloved ...",6.7,101,23107.0,1995.0,113228,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,"[u""Based on Terry McMillan's novel, this film ...",5.9,124,9034.0,1995.0,114885,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,[u'George Banks must deal not only with the pr...,6.0,106,32568.0,1995.0,113041,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [96]:
IMDb_cldata.columns

Index(['plot', 'rating', 'runtimes', 'votes', 'year', 'imdbId',
       'country codes_us', 'country codes_gb', 'country codes_fr',
       'country codes_it', 'country codes_ca', 'country codes_de',
       'country codes_jp', 'country codes_es', 'country codes_in',
       'country codes_hk', 'genres_Drama', 'genres_Comedy', 'genres_Thriller',
       'genres_Romance', 'genres_Action', 'genres_Crime', 'genres_Horror',
       'genres_Adventure', 'genres_Documentary', 'genres_Mystery',
       'language codes_en', 'language codes_fr', 'language codes_es',
       'language codes_it', 'language codes_de', 'language codes_ja',
       'language codes_ru', 'language codes_cmn', 'language codes_hi',
       'language codes_sv', 'certificates_G', 'certificates_NR',
       'certificates_PG', 'certificates_R', 'kind_movie', 'kind_series'],
      dtype='object')

In [97]:
train_subset.head()

       userId  movieId  rating            timestamp  year
25352  127137   115824     4.5  2017-12-31 23:59:50  2017
25353  142748     2762     5.0  2017-12-31 23:59:41  2017
25354  196198     1198     3.5  2017-12-31 23:59:17  2017
25355  142748    71057     4.5  2017-12-31 23:58:09  2017
25356  142748   152077     5.0  2017-12-31 23:57:32  2017

In [98]:
train_subset_tagged = train_subset.merge(user_clusters, how = 'inner', on = 'userId')

In [99]:
train_subset_tagged.head()

   userId  movieId  rating            timestamp  year  cluster
0  127137   115824     4.5  2017-12-31 23:59:50  2017        0
1  127137     1267     4.5  2017-12-31 06:38:16  2017        0
2  127137    81257     4.5  2017-12-30 07:28:47  2017        0
3  127137   175981     3.0  2017-12-29 10:06:27  2017        0
4  127137    96728     3.0  2017-12-29 07:32:48  2017        0

In [100]:
len(train_subset_tagged['userId'].unique()), len(train_subset_tagged['movieId'].unique())

(19203, 36529)

In [101]:
len(movies_filtered['movieId'].unique())

22351

In [102]:
len(set(movies_filtered['movieId']).intersection(set(train_subset['movieId'].unique())))

17035

In [103]:
movies_filtered.columns

Index(['movieId', 'title', 'releaseDate', 'directedBy', 'starring', 'imdbId',
       'tmdbId', 'genres', 'Action', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
       'War', 'Western', 'nan'],
      dtype='object')

In [104]:
len(movies_filtered['imdbId'].unique()), len(IMDb_cldata['imdbId'].unique())

(22286, 43697)

In [105]:
movies_IMdb = movies_filtered.merge(IMDb_cldata, how = 'inner', on = 'imdbId')

In [106]:
len(movies_IMdb['movieId'].unique()), len(train_subset_tagged['movieId'].unique())

(20381, 36529)

In [107]:
train_subset_tagged = train_subset_tagged.merge(movies_IMdb['movieId'], how = 'inner' , on = 'movieId')

In [108]:
len(train_subset_tagged['movieId'].unique())

15836

In [109]:
movies_IMdb.columns

Index(['movieId', 'title', 'releaseDate', 'directedBy', 'starring', 'imdbId',
       'tmdbId', 'genres', 'Action', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
       'War', 'Western', 'nan', 'plot', 'rating', 'runtimes', 'votes', 'year',
       'country codes_us', 'country codes_gb', 'country codes_fr',
       'country codes_it', 'country codes_ca', 'country codes_de',
       'country codes_jp', 'country codes_es', 'country codes_in',
       'country codes_hk', 'genres_Drama', 'genres_Comedy', 'genres_Thriller',
       'genres_Romance', 'genres_Action', 'genres_Crime', 'genres_Horror',
       'genres_Adventure', 'genres_Documentary', 'genres_Mystery',
       'language codes_en', 'language codes_fr', 'language codes_es',
       'language codes_it', 'language codes_de', 'language codes_ja',
       'language codes_ru', 'language codes_cmn', 'language codes_hi',
       'language codes_sv', 'certificates_G', 'certificates_NR',
       'certificates_PG', 'certificates_R', 'kind_movie', 'kind_series'],
      dtype='object')

In [110]:
movies_IMdb.isna().sum()

movieId                  0
title                    0
releaseDate              0
directedBy             415
starring               822
imdbId                   0
tmdbId                 354
genres                   0
Action                   0
Adventure                0
Animation                0
Children                 0
Comedy                   0
Crime                    0
Documentary              0
Drama                    0
Fantasy                  0
Film-Noir                0
Horror                   0
IMAX                     0
Musical                  0
Mystery                  0
Romance                  0
Sci-Fi                   0
Thriller                 0
War                      0
Western                  0
nan                      0
plot                     0
rating                   0
runtimes                 0
votes                    0
year                     0
country codes_us      1624
country codes_gb      1624
country codes_fr      1624
country codes_it      1624
country codes_ca      1624
country codes_de      1624
country codes_jp      1624
country codes_es      1624
country codes_in      1624
country codes_hk      1624
genres_Drama          1624
genres_Comedy         1624
genres_Thriller       1624
genres_Romance        1624
genres_Action         1624
genres_Crime          1624
genres_Horror         1624
genres_Adventure      1624
genres_Documentary    1624
genres_Mystery        1624
language codes_en     1624
language codes_fr     1624
language codes_es     1624
language codes_it     1624
language codes_de     1624
language codes_ja     1624
language codes_ru     1624
language codes_cmn    1624
language codes_hi     1624
language codes_sv     1624
certificates_G        1624
certificates_NR       1624
certificates_PG       1624
certificates_R        1624
kind_movie               0
kind_series              0
dtype: int64

In [111]:
movies_columns = ['movieId','kind_movie', 'kind_series', 'rating', 'runtimes',             'votes', 'year', 'country codes_us', 'country codes_gb', 'country codes_fr',
       'country codes_it', 'country codes_ca', 'country codes_de',
       'country codes_jp', 'country codes_es', 'country codes_in',
       'country codes_hk', 'genres_Drama', 'genres_Comedy', 'genres_Thriller',
       'genres_Romance', 'genres_Action', 'genres_Crime', 'genres_Horror',
       'genres_Adventure', 'genres_Documentary', 'genres_Mystery',
       'language codes_en', 'language codes_fr', 'language codes_es',
       'language codes_it', 'language codes_de', 'language codes_ja',
       'language codes_ru', 'language codes_cmn', 'language codes_hi',
       'language codes_sv', 'certificates_G', 'certificates_NR',
       'certificates_PG', 'certificates_R' ]

In [112]:
movie_ac_clusters = {}
for cluster in train_subset_tagged['cluster'].unique():
    cl_data = train_subset_tagged[train_subset_tagged['cluster'] == cluster]
    cl_dict = {}
    cl_dict['data'] = movies_IMdb.merge(cl_data['movieId'],how = 'right', on = 'movieId')[movies_columns]
    cl_dict['data'] = cl_dict['data'].drop_duplicates('movieId').reset_index(drop = True)
    cl_dict['movieIds'] = list(cl_data['movieId'].unique())
    movie_ac_clusters[cluster] = cl_dict

In [113]:
len(movie_ac_clusters[0]['movieIds']), len(movie_ac_clusters[1]['movieIds']), len(movie_ac_clusters[2]['movieIds']), len(movie_ac_clusters[3]['movieIds'])

(7022, 10599, 11223, 11143)

In [114]:
movie_ac_clusters[0]['data'].head()

,movieId,kind_movie,kind_series,rating,runtimes,votes,year,country codes_us,country codes_gb,country codes_fr,...,language codes_de,language codes_ja,language codes_ru,language codes_cmn,language codes_hi,language codes_sv,certificates_G,certificates_NR,certificates_PG,certificates_R
0,106491,1.0,0.0,6.2,128,140571.0,2013.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,85414,1.0,0.0,7.5,93,465374.0,2011.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,2476,1.0,0.0,6.9,130,37593.0,1986.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,58627,1.0,0.0,6.6,113,92750.0,2008.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5313,1.0,0.0,5.5,92,126013.0,2002.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [115]:
movies_columns.append('cluster')
movies_IMdb_fl = movies_IMdb.merge(train_subset_tagged[['movieId','cluster']],how = 'right', on = 'movieId')[movies_columns]

In [116]:
movies_IMdb_fl = movies_IMdb_fl.drop_duplicates('movieId').reset_index(drop = True)

In [117]:
movies_IMdb_fl.columns

Index(['movieId', 'kind_movie', 'kind_series', 'rating', 'runtimes', 'votes',
       'year', 'country codes_us', 'country codes_gb', 'country codes_fr',
       'country codes_it', 'country codes_ca', 'country codes_de',
       'country codes_jp', 'country codes_es', 'country codes_in',
       'country codes_hk', 'genres_Drama', 'genres_Comedy', 'genres_Thriller',
       'genres_Romance', 'genres_Action', 'genres_Crime', 'genres_Horror',
       'genres_Adventure', 'genres_Documentary', 'genres_Mystery',
       'language codes_en', 'language codes_fr', 'language codes_es',
       'language codes_it', 'language codes_de', 'language codes_ja',
       'language codes_ru', 'language codes_cmn', 'language codes_hi',
       'language codes_sv', 'certificates_G', 'certificates_NR',
       'certificates_PG', 'certificates_R', 'cluster'],
      dtype='object')

In [118]:
movies_columns.pop(0)
movies_columns.pop()

'cluster'

In [119]:
for i,cluster in enumerate(movies_IMdb_fl['cluster'].unique()):
    col_name = 'cluster_' + str(i)
    movies_IMdb_fl[col_name] = movies_IMdb_fl['cluster'].apply(
        lambda x : 1 if x == cluster else 0)

----
## Random Forest Classifier

In [120]:
from sklearn.ensemble import RandomForestClassifier

In [121]:
RFmodel = RandomForestClassifier(n_estimators=10, 
                               bootstrap = True,
                               max_features = 'sqrt')

In [122]:
movies_IMdb_fl[movies_columns] = movies_IMdb_fl[movies_columns].fillna(0)

In [123]:
RFmodel.fit(movies_IMdb_fl[movies_columns],movies_IMdb_fl['cluster_0'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='sqrt', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [124]:
import shap
shap_values = shap.TreeExplainer(RFmodel).shap_values(movies_IMdb_fl[movies_columns])
shap.summary_plot(shap_values, movies_IMdb_fl[movies_columns], plot_type="bar")

In [ ]:
shap.summary_plot(shap_values, movies_IMdb_fl[movies_columns])

In [ ]:

movies_columns