In [35]:
import pandas as pd
import numpy as np  
import json

In [36]:
url = '../Intermediate_data/top_20_predictn_svd.json'
with open(url, 'r') as myfile:
    data=myfile.read()

In [37]:
svd_prediction = json.loads(data)

In [38]:
SRS_prediction = pd.read_csv('../Intermediate_data/distancePredictions.csv', index_col= 0)

In [39]:
SRS_prediction.head(10)

   movieId                                              title  rating  userId
0     1586                                   G.I. Jane (1997)     NaN  127137
1     1840                                 He Got Game (1998)     NaN  127137
2     6421                             Rare Breed, The (1966)     NaN  127137
3     7251                     Where the Day Takes You (1992)     NaN  127137
4     8772          Spy Who Came in from the Cold, The (1965)     NaN  127137
5    26399                          Five Deadly Venoms (1978)     NaN  127137
6    26776  Porco Rosso (Crimson Pig) (Kurenai no buta) (1...     NaN  127137
7    34464    Christmas in August (Palwolui Christmas) (1998)     NaN  127137
8    52199                        Damnation (Karhozat) (1987)     NaN  127137
9    86312                      Mouse on the Moon, The (1963)     NaN  127137

In [40]:
movies_url = 'https://raw.githubusercontent.com/SanchayniB/Serendipitous-Recommender-System/master/Intermediate_data/filtered_movies_genre.csv'
movies_filtered = pd.read_csv(movies_url,index_col= 0)

In [41]:
train_subset = pd.read_csv('../Intermediate_data/train_subset.csv',index_col= 0)

In [42]:
train_new = train_subset.merge(movies_filtered, how = 'inner', left_on = 'movieId', right_on = 'movieId' )

In [43]:
movies_filtered.head()

,movieId,title,releaseDate,directedBy,starring,imdbId,tmdbId,genres,Action,Adventure,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,nan
0,1626,Fire Down Below (1997),1997-09-05,Félix Enríquez Alcalá,"Steven Seagal, Marg Helgenberger, Stephen Lang...",119123,14289.0,"['Action', 'Drama', 'Thriller']",1,0,...,0,0,0,0,0,0,1,0,0,0
1,106491,47 Ronin (2013),2013-12-25,Carl Rinsch,"Keanu Reeves, Hiroyuki Sanada, Kô Shibasaki, R...",1335975,64686.0,"['Action', 'Adventure', 'Fantasy']",1,1,...,0,0,0,0,0,0,0,0,0,0
2,85414,Source Code (2011),2011-04-01,Duncan Jones,"Jake Gyllenhaal, Michelle Monaghan, Vera Farmi...",945513,45612.0,"['Action', 'Drama', 'Mystery', 'Sci-Fi', 'Thri...",1,0,...,0,0,0,1,0,1,1,0,0,0
3,124805,Venus & Vegas (2010),2010-11-01,Demian Lichtenstein,"Eddie Kaye Thomas,Donald Faison,Eddie Guerra,J...",423474,68716.0,"['Action', 'Comedy']",1,0,...,0,0,0,0,0,0,0,0,0,0
4,144514,Quick (2011),2011-07-21,Beom-gu Cho,"Yoo Seung-Mok,Yoon Je-moon,Kim Tae-woo,Lee Min...",2007413,77175.0,"['Action', 'Comedy', 'Thriller']",1,0,...,0,0,0,0,0,0,1,0,0,0

In [59]:
compare = {}
for userId in SRS_prediction['userId'].unique():
    #print(str(userId))
    if str(userId) in svd_prediction:
        compare[str(userId)] = {}
       
        compare[str(userId)]['svd']= {
            'id': (svd_prediction[str(userId)]['unseen_movies']), 
            'title': list(movies_filtered[movies_filtered['movieId'].isin(svd_prediction[str(userId)]['unseen_movies'])]['title'].reset_index(drop = True))  }

        compare[str(userId)]['SRs']= { 
            'id': list(SRS_prediction[SRS_prediction['userId'] == userId]['movieId']) ,
            'title':  list(movies_filtered[movies_filtered['movieId'].isin(list(SRS_prediction[SRS_prediction['userId'] == userId]['movieId'])) ]['title'].reset_index(drop = True))  } 

        compare[str(userId)]['liked_movies'] = {
            'id' : list(train_new[train_new['userId'] == userId].sort_values(by = 'rating', ascending = False)['movieId']),
            'title' : list(train_new[train_new['userId'] == userId].sort_values(by = 'rating', ascending = False)['title'])
        }

        compare[str(userId)]['intersection'] =  set(compare[str(userId)]['svd']['id']).intersection(set(compare[str(userId)]['SRs']['id']))
       

        if len(compare[str(userId)]['intersection']) > 0:
            print(userId)

142742

In [60]:
compare['142742']

{'svd': {'id': [1711,
   62049,
   182551,
   79132,
   1136,
   116951,
   131023,
   170355,
   750,
   85316,
   105246,
   1213,
   55442,
   33138,
   6104,
   7505,
   46578,
   142488,
   5767,
   72],
  'title': ['Monty Python and the Holy Grail (1975)',
   'Persepolis (2007)',
   'Winnie the Pooh and Tigger Too (1974)',
   'Mr. Roosevelt (2017)',
   'Bo Burnham: what. (2013)',
   'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
   'Monty Python Live at the Hollywood Bowl (1982)',
   'Teddy Bear (Mis) (1981)',
   'That Sugar Film (2014)',
   'Midnight in the Garden of Good and Evil (1997)',
   'Kicking and Screaming (1995)',
   'Goodfellas (1990)',
   "Mood Indigo (L'écume des jours) (2013)",
   'Inception (2010)',
   'Palindromes (2004)',
   'Little Miss Sunshine (2006)',
   'Kingdom, The (Riget) (1994)',
   'Mulholland Dr. (1999)',
   '1984 (1956)',
   'Spotlight (2015)']},
 'SRs': {'id': [111, 589, 733, 1196, 1208, 1213, 2028, 2762, 2858, 2959],
  'title': ['Rock, The (1996)',
   'Saving Private Ryan (1998)',
   'Apocalypse Now (1979)',
   'Goodfellas (1990)',
   'Sixth Sense, The (1999)',
   'Taxi Driver (1976)',
   'American Beauty (1999)',
   'Fight Club (1999)']},
 'liked_movies': {'id': [296, 318],
  'title': ['Pulp Fiction (1994)', 'Shawshank Redemption, The (1994)']},
 'intersection': {1213}}